In [4]:
import os
import django
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'rest.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
django.setup()

In [1]:
from Element.models import Element, Group, Period, Block

In [2]:
from django.db.models import Model

In [5]:
Group.objects.all()

<QuerySet [<Group: Group object (3)>, <Group: Group object (4)>, <Group: Group object (5)>, <Group: Group object (6)>, <Group: Group object (7)>, <Group: Group object (8)>, <Group: Group object (9)>, <Group: Group object (10)>, <Group: Group object (11)>, <Group: Group object (12)>, <Group: Group object (13)>, <Group: Group object (14)>, <Group: Group object (15)>, <Group: Group object (16)>, <Group: Group object (17)>, <Group: Group object (18)>, <Group: Group object (19)>, <Group: Group object (20)>]>

In [6]:
Period.objects.all()

### Create Periods in Periodic Table

In [7]:
for i in range(1,8):
    p=Period(Period_name=i)
    p.save()

In [9]:
import pandas as pd

In [72]:
data = pd.read_csv("Periodic Table of Elements.csv")

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AtomicNumber       118 non-null    int64
 1   Element            118 non-null    object
 2   Symbol             118 non-null    object
 3   Block              118 non-null    object
 4   AtomicMass         118 non-null    float64
 5   NumberofNeutrons   118 non-null    int64
 6   NumberofProtons    118 non-null    int64
 7   NumberofElectrons  118 non-null    int64
 8   Period             118 non-null    int64
 9   Group              90 non-null     float64
 10  Phase              118 non-null    object
 11  Radioactive        37 non-null     object
 12  Natural            90 non-null     object
 13  Metal              92 non-null     object
 14  Nonmetal           19 non-null     object
 15  Metalloid          7 non-null      object
 16  Type               115 non-null    object
 17  AtomicRadius       86 non-null     float64
 18  Electronegativity  96 non-null     float64
 19  FirstIonization    102 non-null    float64
 20  Density            105 non-null    float64
 21  MeltingPoint       98 non-null     float64
 22  BoilingPoint       98 non-null     float64
 23  NumberOfIsotopes   103 non-null    float64
 24  Discoverer         109 non-null    object
 25  Year               107 non-null    float64
 26  SpecificHeat       85 non-null     float64
 27  NumberofShells     118 non-null    int64
 28  NumberofValence    49 non-null     float64
dtypes: float64(12), int64(6), object(11)
memory usage: 26.9+ KB

In [74]:
data.head()

,AtomicNumber,Element,Symbol,Block,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Group,...,FirstIonization,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence
0,1,Hydrogen,H,s,1.007,0,1,1,1,1.0,...,13.5984,0.000090,14.175,20.28,3.0,Cavendish,1766.0,14.304,1,1.0
1,2,Helium,He,s,4.002,2,2,2,1,18.0,...,24.5874,0.000179,NaN,4.22,5.0,Janssen,1868.0,5.193,1,NaN
2,3,Lithium,Li,s,6.941,4,3,3,2,1.0,...,5.3917,0.534000,453.850,1615.00,5.0,Arfvedson,1817.0,3.582,2,1.0
3,4,Beryllium,Be,s,9.012,5,4,4,2,2.0,...,9.3227,1.850000,1560.150,2742.00,6.0,Vaulquelin,1798.0,1.825,2,2.0
4,5,Boron,B,p,10.811,6,5,5,2,13.0,...,8.2980,2.340000,2573.150,4200.00,6.0,Gay-Lussac,1808.0,1.026,2,3.0

In [75]:
data[data.columns[0]][0]

1

In [76]:
data['Group'].value_counts()

1.0     7
18.0    7
17.0    6
15.0    6
16.0    6
14.0    6
2.0     6
13.0    6
5.0     4
10.0    4
8.0     4
12.0    4
7.0     4
9.0     4
11.0    4
3.0     4
6.0     4
4.0     4
Name: Group, dtype: int64

### Data Preprocessing

In [77]:
data['Group'] = data['Group'].fillna(0)

In [78]:
data['Group'] = data['Group'].astype(int)

In [79]:
data['Group'].value_counts()

0     28
1      7
18     7
2      6
13     6
14     6
15     6
16     6
17     6
3      4
4      4
5      4
6      4
7      4
8      4
10     4
11     4
12     4
9      4
Name: Group, dtype: int64

In [80]:
nan_value=data['Radioactive'][0]
type(nan_value)

float

In [81]:
data['Radioactive'] = data['Radioactive'] .map( 
                   {'yes':True ,nan_value:False})

In [82]:
data['Radioactive'].value_counts()

False    81
True     37
Name: Radioactive, dtype: int64

In [83]:
data['Natural'] = data['Natural'] .map( 
                   {'yes':True ,nan_value:False})

In [84]:
data['Metal'] = data['Metal'] .map( 
                   {'yes':True ,nan_value:False})

In [85]:
data['Nonmetal'] = data['Nonmetal'] .map( 
                   {'yes':True ,nan_value:False})

In [86]:
data['Metalloid'] = data['Metalloid'] .map( 
                   {'yes':True ,nan_value:False})

In [87]:
data['Type'].value_counts()

Transition Metal        29
Actinide                16
Lanthanide              15
Transactinide           11
Metalloid                7
Noble Gas                7
Metal                    7
Nonmetal                 7
Alkali Metal             6
Alkaline Earth Metal     6
Halogen                  4
Name: Type, dtype: int64

In [88]:
data['Type'] = data['Type'].map(
                    {'Transition Metal':'Transition_Metal',
                    'Noble Gas':'Noble_Gas',
                    'Alkali Metal':'Alkali_Metal',
                    'Alkaline Earth Metal':'Alkaline_Earth_Metal',
                     'Metal':'Metal',
                     'Nonmetal':'Nonmetal',
                     'Actinide':'Actinide',
                     'Lanthanide':'Lanthanide',
                     'Transactinide':'Transactinide',
                     'Halogen':'Halogen',
                     'Metalloid':'Metalloid',
                     nan_value:'Not_defined'
                    })

In [126]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AtomicNumber       118 non-null    int64
 1   Element            118 non-null    object
 2   Symbol             118 non-null    object
 3   Block              118 non-null    object
 4   AtomicMass         118 non-null    float64
 5   NumberofNeutrons   118 non-null    int64
 6   NumberofProtons    118 non-null    int64
 7   NumberofElectrons  118 non-null    int64
 8   Period             118 non-null    int64
 9   Group              118 non-null    int32
 10  Phase              118 non-null    object
 11  Radioactive        118 non-null    bool
 12  Natural            118 non-null    bool
 13  Metal              118 non-null    bool
 14  Nonmetal           118 non-null    bool
 15  Metalloid          118 non-null    bool
 16  Type               118 non-null    object
 17  AtomicRadius       118 non-null    float64
 18  Electronegativity  118 non-null    float64
 19  FirstIonization    102 non-null    float64
 20  Density            105 non-null    float64
 21  MeltingPoint       98 non-null     float64
 22  BoilingPoint       98 non-null     float64
 23  NumberOfIsotopes   103 non-null    float64
 24  Discoverer         109 non-null    object
 25  Year               107 non-null    float64
 26  SpecificHeat       85 non-null     float64
 27  NumberofShells     118 non-null    int64
 28  NumberofValence    49 non-null     float64
dtypes: bool(5), float64(11), int32(1), int64(6), object(6)
memory usage: 22.4+ KB

In [136]:
data['FirstIonization'].value_counts()
-1.0 in data['SpecificHeat']

False

In [97]:
if data.AtomicRadius[117] == nan_value:
    print('ad')

In [102]:
nan_value = data.AtomicRadius[117]

In [103]:
type(nan_value)

numpy.float64

In [104]:
data['AtomicRadius'] = data['AtomicRadius'].fillna(0)

#### Null values in Elenegativity fill with -1

In [124]:
data['Electronegativity'] = data['Electronegativity'].fillna(-1)

In [129]:
data['FirstIonization'] = data['FirstIonization'].fillna(-1)

In [130]:
data['Density'] = data['Density'].fillna(-1)

In [131]:
data['MeltingPoint'] = data['MeltingPoint'].fillna(-1)

In [132]:
data['BoilingPoint'] = data['BoilingPoint'].fillna(-1)

In [133]:
data['NumberOfIsotopes'] = data['NumberOfIsotopes'].fillna(-1)

In [134]:
data['Discoverer'] = data['Discoverer'].fillna('Not_defined')

In [140]:
data['Year'] = data['Year'].fillna(0)

In [141]:
data['SpecificHeat'] = data['SpecificHeat'].fillna(-1)

In [137]:
data['NumberofValence'] = data['NumberofValence'].fillna(-1)

In [107]:
data.columns

Index(['AtomicNumber', 'Element', 'Symbol', 'Block', 'AtomicMass',
       'NumberofNeutrons', 'NumberofProtons', 'NumberofElectrons', 'Period',
       'Group', 'Phase', 'Radioactive', 'Natural', 'Metal', 'Nonmetal',
       'Metalloid', 'Type', 'AtomicRadius', 'Electronegativity',
       'FirstIonization', 'Density', 'MeltingPoint', 'BoilingPoint',
       'NumberOfIsotopes', 'Discoverer', 'Year', 'SpecificHeat',
       'NumberofShells', 'NumberofValence'],
      dtype='object')

In [142]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AtomicNumber       118 non-null    int64
 1   Element            118 non-null    object
 2   Symbol             118 non-null    object
 3   Block              118 non-null    object
 4   AtomicMass         118 non-null    float64
 5   NumberofNeutrons   118 non-null    int64
 6   NumberofProtons    118 non-null    int64
 7   NumberofElectrons  118 non-null    int64
 8   Period             118 non-null    int64
 9   Group              118 non-null    int32
 10  Phase              118 non-null    object
 11  Radioactive        118 non-null    bool
 12  Natural            118 non-null    bool
 13  Metal              118 non-null    bool
 14  Nonmetal           118 non-null    bool
 15  Metalloid          118 non-null    bool
 16  Type               118 non-null    object
 17  AtomicRadius       118 non-null    float64
 18  Electronegativity  118 non-null    float64
 19  FirstIonization    118 non-null    float64
 20  Density            118 non-null    float64
 21  MeltingPoint       118 non-null    float64
 22  BoilingPoint       118 non-null    float64
 23  NumberOfIsotopes   118 non-null    float64
 24  Discoverer         118 non-null    object
 25  Year               118 non-null    float64
 26  SpecificHeat       118 non-null    float64
 27  NumberofShells     118 non-null    int64
 28  NumberofValence    118 non-null    float64
dtypes: bool(5), float64(11), int32(1), int64(6), object(6)
memory usage: 22.4+ KB

In [143]:
for i in range(0,118):
    print(i)
    element = Element(AtomicNumber=data['AtomicNumber'][i], Element=data['Element'][i], Symbol=data['Symbol'][i],
                  Block=Block.objects.get(Block_name=data['Block'][i]), AtomicMass=data['AtomicMass'][i],
                  NumberofNeutrons=data['NumberofNeutrons'][i],
                  NumberofProtons=data['NumberofProtons'][i], NumberofElectrons= data['NumberofElectrons'][i],
                  Period=Period.objects.get(Period_name=data['Period'][i]), Group=Group.objects.get(Group_name=data['Group'][i]),
                  Phase=data['Phase'][i],
                  Radioactive=data['Radioactive'][i],
                  Natural=data['Natural'][i], Metal=data['Metal'][i], Nonmetal=data['Nonmetal'][i], 
                  Metalloid=data['Metalloid'][i], Type=data['Type'][i], AtomicRadius=data['AtomicRadius'][i],
                  Electronegativity=data['Electronegativity'][i], FirstIonization=data['FirstIonization'][i],
                  Density=data['Density'][i], MeltingPoint=data['MeltingPoint'][i], BoilingPoint=data['BoilingPoint'][i],
                  NumberOfIsotopes=data['NumberOfIsotopes'][i], Discoverer=data['Discoverer'][i], Year=data['Year'][i],
                  SpecificHeat=data['SpecificHeat'][i], NumberofShells=data['NumberofShells'][i],
                  NumberofValence=data['NumberofValence'][i])
    element.save()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117

In [144]:
# for i in range(0,118):
#     print(i)
#     element = Element(AtomicNumber=data['AtomicNumber'][i], Element=data['Element'][i], Symbol=data['Symbol'][i],
#                   Block=Block.objects.get(Block_name=data['Block'][i]), AtomicMass=data['AtomicMass'][i],
#                   NumberofNeutrons=data['NumberofNeutrons'][i],
#                   NumberofProtons=data['NumberofProtons'][i], NumberofElectrons= data['NumberofElectrons'][i],
#                   Period=Period.objects.get(Period_name=data['Period'][i]), Group=Group.objects.get(Group_name=data['Group'][i]),
#                   Phase=data['Phase'][i],
#                   Radioactive=data['Radioactive'][i],
#                   Natural=data['Natural'][i], Metal=data['Metal'][i], Nonmetal=data['Nonmetal'][i], 
#                   Metalloid=data['Metalloid'][i], Type=data['Type'][i], AtomicRadius=data['AtomicRadius'][i],
#                   FirstIonization=data['FirstIonization'][i],
#                   Density=data['Density'][i], BoilingPoint=data['BoilingPoint'][i],
#                   NumberOfIsotopes=data['NumberOfIsotopes'][i], Discoverer=data['Discoverer'][i], Year=data['Year'][i],
#                   SpecificHeat=data['SpecificHeat'][i], NumberofShells=data['NumberofShells'][i])
#     element.save()

In [145]:
# element = Element(AtomicNumber=data['AtomicNumber'][0], Element=data['Element'][0], Symbol=data['Symbol'][0],
#                   Block=Block.objects.get(Block_name=data['Block'][0]), AtomicMass=data['AtomicMass'][0],
#                   NumberofNeutrons=data['NumberofNeutrons'][0],
#                   NumberofProtons=data['NumberofProtons'][0], NumberofElectrons= data['NumberofElectrons'][0],
#                   Period=Period.objects.get(Period_name=data['Period'][0]), Group=Group.objects.get(Group_name=data['Group'][0]),
#                   Phase=data['Phase'][0],
#                   Radioactive=data['Radioactive'][0],
#                   Natural=data['Natural'][0], Metal=data['Metal'][0], Nonmetal=data['Nonmetal'][0], 
#                   Metalloid=data['Metalloid'][0], Type=data['Type'][0], AtomicRadius=data['AtomicRadius'][0],
#                   Electronegativity=data['Electronegativity'][0], FirstIonization=data['FirstIonization'][0],
#                   Density=data['Density'][0], MeltingPoint=data['MeltingPoint'][0], BoilingPoint=data['BoilingPoint'][0],
#                   NumberOfIsotopes=data['NumberOfIsotopes'][0], Discoverer=data['Discoverer'][0], Year=data['Year'][0],
#                   SpecificHeat=data['SpecificHeat'][0], NumberofShells=data['NumberofShells'][0],
#                   NumberofValence=data['NumberofValence'][0])
# element.save()